body {
    background-image: linear-gradient(red,yellow);
    background-size: cover;
    height: 150%;
}


#test-box {
    border: 2px solid black;
    padding: auto;
    text-align: center;
    color: red;
    background-color: black;
    font-size: 35px;
    margin-top: auto;
}
img {
    border-radius: 50%;
}
#text {
    float: right;
}   
#heading {
    text-align: center;
} 
.info {

}



.why

{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: blue;
    width: 400px;
}
    
    