body {
    background-image: linear-gradient(red,yellow);
    background-size: cover;
    height: 150%;
}


#test-box {
    border: 2px solid black;
    padding: auto;
    text-align: center;
    color: red;
    background-color: black;
    font-size: 35px;
    margin-top: auto;
}
img {
    border-radius: 50%;
}
#text {
    float: right;
    font-size: 35px;
}   
#heading {
    text-align: center;
} 
.info {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 400px;
    border: 2px solid;
    background-image: url(images/life.jpg);
    background-size: cover;

}
.school{
    color: green;
}
.why
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-image: url(images/move.gif);
    background-size: cover;
    width: 400px;
    color: seashell;  
}
.hobb {
    border: 2px solid black;
    background-image: url(images/sport.jpg);
   
}
    
    