body {
    background-image: linear-gradient(red,yellow);
    background-size: cover;
    height: 150%;
}


#test-box {
    border: 2px solid black;
    padding: auto;
    text-align: center;
    color: red;
    background-color: black;
    font-size: 35px;
    margin-top: auto;
}
img {
    float:right;
}
#text {
    float: right;
}    
    
    